// Colors
$white1: #fff;
$white2: #fafafa;

$black1: #000;
$black2: #222;
$black3: #333;

$silver1: #f1f1f1;
$silver2: #eee;
$silver3: #ddd;

$gray1: #767676;
$gray2: #bbb;
$gray3: #666;
$gray4: #aaa;
$gray5: #555;
$gray6: #777;

$blue1: #0085ba;
$blue2: #21759b;

$dv-blue: #0077c9;
$dv-green: #3fae2a;
$dv-blue-hover: #5798ce; // 75% of $dv-blue;
$dv-green-hover: #66b366; // 75% of $dv-green;

