.ridgeline-links {
	display: flex;
	justify-content: center;
	align-items: top;
}

.ridgeline-link {
	width: 270px;
	padding: 5%;

	@media screen and (min-width: 48em) {
		padding: 0 2em;
		
	}

	a {
		box-shadow: none;
	}

	a img {
		box-shadow: none;	
	}
}


.site-footer .widget:nth-last-child(1) {
	padding-bottom: 0;
}
